extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Brad Rock

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I'm a full stack JavaScript developer seeking employment. I'm currently working toward the completion of a Full Stack JavaScript techdegree program with #[a.treehouse-link(href="http://teamtreehouse.com", target="_blank") Treehouse]. I also have previous experience creating apps for AutoCAD using C# and VB.NET.
            | My previous background is in civil engineering; I graduated in 2013 from the University of Michigan with a B.S.E. in Civil Engineering and have since worked in the civil engineering and engineering technology consulting fields.
            | This site features projects I've completed for the techdegree program, demonstrating my capabilities with JavaScript and other technologies.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li HTML
          li CSS
          li Node.js
          li Express
          li Pug
          li C#
          li VB.NET
        h6 Contact

        //- Add your own contact info
        ul
          //-li 555-555-1234
          li bradleydrock@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        //-a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/bradrock', target="_blank") GitHub
        //-a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  