extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Brad Rock

       
        p.lead.text-light
          | Full Stack JavaScript Developer

        
        .portfolio-bio
          p
            | I'm a full stack JavaScript developer seeking employment. I recently #[a.treehouse-link(href="https://www.credential.net/e1b6466c-db2e-42df-8df4-8ccb248b2b6b#gs.ekmpc3", target="_blank") completed the Full Stack JavaScript techdegree program at Treehouse]. I also have previous experience creating apps for AutoCAD using C# and VB.NET.
            | My previous background is in civil engineering; I graduated in 2013 from the University of Michigan with a B.S.E. in Civil Engineering and have since worked in the civil engineering and engineering technology consulting fields.
            | This site features projects I've completed for the techdegree program, demonstrating my capabilities with JavaScript and other technologies.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li JavaScript
          li HTML
          li CSS
          li Node.js
          li Express
          li Pug
          li React
          li C#
          li VB.NET
        h6 Contact



        
        ul
          li brad@bradrock.io

        
        a.button.expanded(href='https://www.linkedin.com/in/bradrock/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/bradrock', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    
  