extends layout

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back
    article.grid-container.portfolio-intro
        div
            h1= error.message
            h3= "Error code: " + error.status
            p= error.stack
